CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
SDK

[Bb]uild/
[Ii]nstall/

.DS_Store/**/*
.DS_Store

*.ko
*.orig
